name: build

on:
  push:
    branches: [ 4.x ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest
    name: JDK ${{ matrix.java-version }} - ${{ matrix.faces-impl }}
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
          - 17
        faces-impl:
          - myfaces
          - mojarra

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Cache SonarCloud packages
      uses: actions/cache@v2.1.5
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Prepare
      run: chmod 777 docker-compose/downloads
      working-directory: ./integration-test
    - name: Start browser container
      run: HOST_IP=$(ip a | grep docker0 | grep inet | awk '{print $2;}' | sed 's/\/.*$//') docker-compose up -d
      working-directory: ./integration-test
    - name: Build with Maven
      run: mvn -B verify --file pom.xml -P${{ matrix.faces-impl }}
    - name: SonarCloud Scan
      if: github.repository == 'maruTA-bis5/primefaces-excella-exporter' && matrix.java-version == 11 && matrix.faces-impl == 'mojarra'
      run: mvn -B clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=maruTA-bis5_primefaces-excella-exporter -Dsonar.organization=maruta-bis5-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{secrets.SONAR_TOKEN}}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
